.btn {
  display: inline-block;
  font-weight: 300;
  color: #ffffff;
  background: #424242;
  border: 1px solid #424242;
  border-radius: 19px;
  transition: 0.5s all ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: #fff8f2;
    color: #424242;
  }

  &--warn {
    background: #ff8383;
    border-color: #ff8383;

    &:hover {
      background: #424242;
      color: #ffffff;
    }
  }

  &:disabled {
    background: #7f7f7f;
    border-color: #7f7f7f;

    &:hover {
      color: #fff;
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}
