$accent: #ff8383;
$accent_contrast: #fff;

*,
::after,
::before {
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.justify-content-between {
  justify-content: space-between;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
button {
  &:focus {
    outline-color: $accent;
    outline-style: solid;
    outline-width: medium;
    outline-offset: 2px;
  }
}

input {
  &:focus {
    outline: none;
    border-color: #424242 !important;
    border-width: 3px !important;
  }
}
